<% content_for :title, "#{@bedroom.title} - Rubies Hotel" %>

<h1 class='title'><%= @bedroom.title %></h1>
<span class='beds'><%= @bedroom.beds %></span>
<p class='description'><%= @bedroom.description %></p>
<span class='priceNight'>S/ <%= @bedroom.priceNight %></span>