body{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    align-items: center;
    display: block;
}


.wrapper_body{
    display: block;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.container{
    display: block;
    margin: 30px 100px;
}

.encabezadoReserva{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(113, 135, 164, 0.749);
    /*border-radius: 10px; */
}

  
.encabezadoReserva h2 {
    margin: 0;
    font-size: 1.2rem;
}

.encabezadoReserva h2 span{
    color:#a91d1d; 
    font-weight: bold;
  }
  
.fecha,
.boton_buscar {
    margin: 0 1rem;
    text-align: center;
    display: inline-block;
}
  
.fecha label {
    display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
  
.fecha input[type="date"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .boton_buscar input[type="submit"] {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    background-color: #27ae60;
    color: #fff;
    cursor: pointer;
    border: 10px 10px 10px 10px;
  }

.containerReserva{
    border: 1px solid black;
    display: inline-block; 
    vertical-align: top;
    margin: auto 10px;
}

.fecha imput{
    border: 1px solid black;
}

.boton_buscar{
    border: 1px solid black;
}

.bedroomsList{
    margin: auto 10px;
    display: inline-block; 
    vertical-align: top;
    overflow: hidden;
    text-align: center; /* Centra horizontalmente el contenido */
}

.caracteristicas{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: absolute;
    bottom: 0%;
    top: 0%; 
    margin-right: 10px;
    margin-bottom: 2px;
    background-color: #f0f0f0;
}

.caracteristicas h2{
    font-size: 20px;
    text-align: left;
}

.caracteristicas p{
    font-size: 13px;
    text-align: left;
}

.titulos{
    margin: 10px 10px;
}

.bedroom{
    display: block;
    /*width: 98%; */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    margin: 10px 5px;
    padding-bottom: 400px;
    background-color: white;
}

.info-bedroom{
    position: relative;
    display: block;
    width: 100%;
    margin: auto auto;
    padding-top: 15px;
    padding-bottom: 220px;
    overflow: hidden;
}

.imageBedroom{
    width: 364px;
    height: 210px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0%; /* Coloca el div 2 en el lado derecho del contenedor padre */
    overflow: hidden;
}

.imageBedroom .image{
    width: 100%;
    height: 100%;
}


.tds span{
    text-decoration: line-through;
}

.titulo{
    margin: 10px 10px;
}

.titulo h1{
    text-align: left;
    font-size: 26px;
}

.eleccion_cantidad{
    margin: auto auto;
    border: 1px solid black;
    width: 100%;
    display: block;
}

td{
    border: 1px solid black
}

.eleccion_cantidad td{
    display: inline-block;
}

.rowspanTd{
    padding-right: 100px;
    text-align: left;
}

.rowspanTd strong{
    text-align: left;
}

.reservar{
    border-radius: 3px;    
}

.boton {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.personas{
    color: #111111;
}

.tbody{
    text-align: center;
}

tbody .c_opcion{
    width: 100%;
    height: 100%;
}

.div_opcion{
    width: 100%;
    height: 100%;
}
  