/* Estilos para la página de reserva */

body {
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row {
    display: flex;
}

.columna {
    display: flex;
}

.image_bedroom {
    text-align: center;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;
    display: block;
}

.image_bedroom .image {
    width: 270px;
    height: 180px;
    overflow: hidden;
}

.caracteristicas {
    padding-left: 10px;
    padding-right: 50px;
}

._caracteristicas h1 {
    font-size: 15px;
}

.c .s {
    color: black;
}

.caracteristicas h1 {
    padding: 5px;
}

.t_cuadro {
    padding: 9px;
    text-align: left;
    color: #27ae60;
    background-color: #f0f0f0;
}

.t_hotel {
    padding: 5px;
    text-align: left;
}

.t_category .s {
    text-align: left;
}

.ubigeo {
    padding: 5px;
    text-align: left;
}

.habitacion {
    display: flex;
}

.formulario_huesped {
    border: 1px solid white;
    background-color: white;
    text-align: center;
    width: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.reservation_info {
    border: 1px solid white;
    background-color: white;
    width: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.datos_title {
    text-align: left;
    font-size: 18px;
    color: #27ae60;
    background-color: #f0f0f0;
    padding: 9px;
}

.subtitulo_datos {
    text-align: left;
    padding: 5px;
}

.model {
    text-align: center;
}

.model .campo {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.campo .imput {
    width: calc(100% - 60px); /* Ajuste para el ancho del campo de entrada */
}

.prices {
    overflow: hidden;
}

.total_price,
.t_price_online {
    display: flex;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #f0f0f0;
}

.p_online p,
.p_amount_online p {
    color: white;
    white-space: nowrap;
    background-color: #27ae60;
    padding: 5px 10px;
    border-radius: 5px;
}

.p,
.p_online,
.p_amount,
.p_amount_online {
    padding: 0 20px;
}

.horarios {
    padding: 10px;
    text-align: left;
}

.acciones .boton-reservar {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
