
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background-image: url('mil_horas.jpg');  /*aqui ira el css para la imagen de fondo*/
  background-size: cover;
  background-position: center;
  align-items: center;
}

.vista{
  display: block;
  text-align: center;
  align-items: center;
}

.encabezadoReserva {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffa876;
}

.encabezadoReserva h2 {
  margin: 0;
  font-size: 1.2rem;
}

.encabezadoReserva h2 span{ 
  color: #ffeadb; 
  font-weight: bold;
}

.fecha,
.boton_buscar {
  margin: 0 1rem;
  text-align: center;
  display: inline-block;
}

.fecha label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.fecha input[type="date"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.boton_buscar input{
  border: none;
}

.boton_buscar input[type="submit"] {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #27ae60;
  color: #fff;
  cursor: pointer;
  
}

.container {
  max-width: 1080px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido */
  padding: 20px;
  text-align: center;
  align-items: center;
}

.row1{
  align-items: center;
  text-align: center;
  display: block;
  padding: 10px;
}

.row{
  text-align: center;
  padding-bottom: 80px;
}

/* Estilos para la sección de Misión y Visión */
.mision-vision {
  margin-top: 130px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 130px;
  display: block;
  align-items: center;  
}

.mision-vision h1 {
  background-color: #637373; /* Fondo transparente */
  color: #e2e2e2; /* Color del texto de los títulos */
  padding: 10px; /* Padding reducido */
  border-radius: 10px; /* Redondeado reducido */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  /*border: 2px solid #e2c4a4; /* Color del borde de los títulos */
  text-align: center;
  font-size: 53px;  
} 

.mision-vision h2 {
  background-color: #679b9bc8; /* Fondo transparente */
  color: white; /* Color del texto de los títulos */
  padding: 10px;
  border-radius: 10px; /* Redondeado reducido */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: 20px;
}

.section_div{
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Estilos para la sección de Contacto */
.section_contacto {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}


.section_contacto h1 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  color: #e2e2e2; /* Color del texto del título de contacto */
  padding: 10px; /* Padding reducido */
  text-align: center;
  background-color: #637373;
}


.list-group_c{
  background-color: #679b9b;
  margin-top: -8px;
  padding-bottom: 8px;
}

.list-group_c ul{
  padding: 10px;
}

.list-group_c li{
  display: inline-block;
  margin: auto 10px;
  color: white;
}