<% content_for :title, "Inicio - Rubies Hotel" %>
<%= stylesheet_link_tag "indice/index.css" %>
  <div class="container">
    <section class="mision-vision">
      <h1>Misión</h1>
      <h2>Nuestra misión es proporcionar servicios de calidad que satisfagan las necesidades de nuestros clientes y contribuyan al desarrollo sostenible de la comunidad.</h2>

      <h1>Visión</h1>
      <h2>Buscamos ser líderes en nuestro sector, reconocidos por nuestra excelencia en el servicio al cliente y nuestro compromiso con la innovación y la responsabilidad social.</h2>
    </section>

    <section class="contacto">
      <h1>Contacto</h1>
      <ul>
        <li>Teléfono: +1234567890</li>
        <li>Correo electrónico: info@ejemplo.com</li>
        <li>Dirección: Calle Principal #123, Ciudad, País</li>
      </ul>
    </section>
  </div>

