
.mainSpan{
    margin-top: 100px;
    margin-bottom: 125px;
}

.mainSpan sub{
    color: #757677;
    font-size: 15px;
}

.titleMain span{
    font-size: 57px;
}
.bedroomsList {
    margin: 100px auto;
}   

.bedroomContainer{
    display: inline-block;
    border: 1px solid black; 
    margin: 10px 10px;
    border-radius: 10px;
    width: 40%;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */ 
}

.imageBedroom {
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.imageBedroom:hover {
    transform: scale(1.02); /* Ajuste sutil en el zoom al hacer hover */
}

.xd{
    overflow: hidden;
    display: inline-block;
    margin: 10px 10px; 
}


.image {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.imageBedroom:hover .image {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.image {
    /* Estilos para la imagen del dormitorio */
    width: 95%; /* Ancho del 100% del contenedor */
    height: 400px; /* Altura automática para mantener la proporción */
    border: 1px solid #ccc; /* Borde de la imagen */
    border-radius: 5px; /* Borde redondeado */
    margin: 10px 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.viewInfo {
    text-align: left;
    margin-left: 30px;
}


  
.bed_description p {
    text-align: left; /* Centrar el texto */
    font-size: 15px; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea para un espaciado adecuado entre líneas */
    white-space: pre-line; /* Previene que el texto se colapse en una sola línea */
    margin-bottom: 13px; /* Espacio entre párrafos */
    color: #757677;
}

.bedBedroom span{
    font-size: 13px;
    color: #757677;
}

.linkTitle {
    text-decoration: none;
    color: black;
}