/* Estilos para la página de listado de habitaciones */

/* Contenedor principal */
.container {
    text-align: center;
  }
  
  /* Sección principal */
  .main-span {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .main-span sub {
    color: #757677;
    font-size: 15px;
  }
  
  .titleMain span {
    font-size: 40px;
  }
  
  /* Contenedor de las habitaciones */
  .container-category {
    margin: 0 auto;
    text-align: center;
  }
  
  /* Lista de habitaciones */
  .bedrooms-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilos para cada habitación */
  .bedroom {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
  }
  
  .imageBedroom {
    overflow: hidden;
  }
  
  .imageBedroom:hover .image {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.4s ease-in-out;
  }
  
  .viewInfo {
    padding: 20px;
  }
  
  .linkTitle {
    text-decoration: none;
    color: black;
  }
  
  /* Botón Ver */
  .link_buttom input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0ecca8;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .link_buttom input[type="submit"]:hover {
    background-color: #0ab288;
  }
  
  /* Otros estilos */
  .bed_description p {
    font-size: 15px;
    color: #757677;
    margin-top: 10px;
    text-align: left;
  }
  
  .bedBedroom span {
    font-size: 13px;
    color: #757677;
  }
  
  /* Media Query para ajustar los estilos en pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
    .bedroom {
      width: 90%;
    }
  }
  