/* Estilos específicos para la página de habitaciones */
#container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 800px; /* Ancho máximo del contenido */
  }
  
  .div_title {
    text-align: center;
  }
  
  .title {
    color: #333; /* Color del título */
    font-size: 36px;
  }
  
  .div_principal {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .box_1,
  .box_2 {
    flex: 1;
  }
  
  .div_image {
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .div_description {
    padding: 20px 0;
  }
  
  .title_span {
    color: #ffa876; /* Color del título alternativo */
    font-size: 24px;
  }
  
  .description {
    color: #555; /* Color del texto de la descripción */
  }
  
  .beds {
    display: block;
    text-align: center;
    background-color: #ffa876; /* Color de fondo del bloque de camas */
    color: #fff; /* Color del texto de las camas */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 20px;
    text-align: center;
  }
  
  .footer .seccion {
    margin-top: 20px;
  }
  