

head{
    font-family: 'Roboto', sans-serif;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu_main{
    background: #679b9b;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.list-group{
    padding: 10px;
}

.menu_main .list-group-item{
    border-radius: 10px;
}

.menu_main li {
    background: white;     
}

.menu_main ul li{
    display: inline-block;
    font-size: 16px; /* Tamaño de fuente */
}

.menu_main ul li a{
    text-decoration: none; /* Eliminar el subrayado */
    white-space: nowrap;
    padding: 0 20px;
    line-height: 24px;
    color: #383A4E;
    font-size: 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}