@import "bootstrap";


body{
    text-align: center;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

.menu_main{
    background: #cac72861;
    padding: 5px;
    width: 100%;
    text-align: center;
    /*border-radius: 10px 10px 10px 10px; /* arriba izquierda, arriba derecha, abajo derecha, abajo izquierda */
}

.list-group{
    padding: 10px;
}

.menu_main li {
    background: white;     
    border: 1px solid #28be9b96;
}

.menu_main ul li{
    display: inline-block;
    font-size: 16px; /* Tamaño de fuente */
}

.menu_main ul li a{
    text-decoration: none; /* Eliminar el subrayado */
    color: #383A4E; /* Cambiar el color del texto del enlace */
    white-space: nowrap;
    padding: 0 20px;
    line-height: 24px;
    color: #383A4E;
    font-size: 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}