body{
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.menu_main{
    background: white;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 0px 0px 10px 10px; /* arriba izquierda, arriba derecha, abajo derecha, abajo izquierda */
}

.menu_main ul li{
    display: inline-block;
    font-size: 16px; /* Tamaño de fuente */
}

.menu_main ul li a{
    text-decoration: none; /* Eliminar el subrayado */
    color: #383A4E; /* Cambiar el color del texto del enlace */
    white-space: nowrap;
    padding: 0 20px;
    line-height: 24px;
    color: #383A4E;
    font-size: 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}